# Ignore everything
/*
!.gitignore

# Except for the files and folders we want to track
!Donwloads
!Documents
!.config
!.local
!.bash_profile
!.bashrc
!.profile
!.vimrc
!.xinitrc
!.xprofile
!_ideavimrc
