#Env vars
export DOT="/mnt/Stuff/Github/dotfiles"
export DOCS="/mnt/Stuff/Documentos/PDFS"
export ST="/mnt/Stuff/"
export PATH=$HOME/.local/bin:$PATH
export QT_STYLE_OVERRIDE=kvantum

# Composer
picom --experimental-backends -f &

# Keyboard Layout
setxkbmap latam &

# Automount removable devices
udiskie -t &

# Wallpaper
nitrogen --restore &

